.jumbotron
    background url(https://res.cloudinary.com/binc/image/upload/f_auto,e_art:eucalyptus/v1537567268/web/banners/iHEAR_banner.jpg)
    background-position center
    background-size cover
    color #fff
    border-radius 0
    
