@import "nib"
@import "_normalize"
@import "_variables"
@import "_partial/header"
@import "_partial/jumbotron"
@import "_partial/footer"
@import "_partial/googlemaps"
@import "_partial/mktoform"
@import "_partial/form"
@import "_partial/searchtool"

html, body
  height 100%
body
  display flex
  flex-direction column
.content
  flex 1 0 auto
.footer
  flex-shrink 0

svg
  display inline-block
  vertical-align middle

p
  font-size 1rem
  line-height 1.6rem
  font-weight 300
  font-color #081e42

.btn-primary
  background blue
  color #fff
  border blue

.btn-primary:hover
  background blue
  color #fff
  border blue

.card
  min-height 400px
