<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <title>
    Health Economics
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Apple Touch Icon-->
  <link rel="apple-touch-icon" sizes="150x150" href="https://res.cloudinary.com/binc/image/upload/v1537660639/web/apple-touch-icon/ihear-apple-touch.png">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">

  <!-- Datatables-->
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

  <!-- Google Fonts-->
  <link href="//fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet" type="text/css">

  <!-- Main CSS -->
  <%- css('css/style') %>
</head>