<div class="container">
    <h3 class="text-center">Hospital Finder Search Tool</h3>
    <p class='searchtool__text'>Disclaimer: Reimbursement related information provided by BIOTRONIK is obtained from
        third party
        sources. This information is provided for the convenience of the health care provider only and does not
        constitute reimbursement, legal or compliance advice. Billing & coding information is subject to
        frequent and unexpected change, therefore BIOTRONIK recommends that users refer to the information
        sources listed to verify accuracy prior to acting on the information provided herein. BIOTRONIK makes
        no representation or warranty regarding this information or its accuracy, completeness or applicability
        and assumes no responsibility for updating this information. BIOTRONIK specifically disclaims liability
        or responsibility for the results or consequences of any actions taken in reliance on information in
        this document. BIOTRONIK strongly encourages health care providers to submit accurate and appropriate
        claims for services and recommends that you consult directly with payers (e.g. the Centers for Medicare
        and Medicaid Services (CMS)), certified reimbursement coding professionals, other reimbursement
        experts, and/or legal counsel regarding all coding, coverage, and payment issues.</p>
    <table id="hospital-finder" class="table table-striped table-bordered datatables__text" width="100%">
        <thead>
            <tr>
                <th></th>
                <th>Hospital Name</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th></th>
                <th>Hospital Name</th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    // Hospital Finder Search Tool
    /* Formatting function for row details - modify as you need */
    function format(d) {
        // `d` is the original data object for the row
        return (
            '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
            // Start of Field
            "<tr>" +
            "<td>Address:</td>" +
            "<td>" +
            d.Address +
            "</td>" +
            "</tr>" +
            // End of Field
            // Start of Field
            "<tr>" +
            "<td>City:</td>" +
            "<td>" +
            d.City +
            "</td>" +
            "</tr>" +
            // End of Field
            // Start of Field
            "<tr>" +
            "<td>State:</td>" +
            "<td>" +
            d.State +
            "</td>" +
            "</tr>" +
            // End of Field
            // Start of Field
            "<tr>" +
            "<td>Zip Code:</td>" +
            "<td>" +
            d["ZIP Code"] +
            "</td>" +
            "</tr>" +
            // End of Field
            "</table>"
        );
    }
</script>