<div class="jumbotron jumbotron--home">
    <div class="container text-center">
        <h1 class="display-4 jumbotron__title">BIOTRONIK Health Econmics</h1>
        <p class="lead jumbotron__text">Description for this site goes here.
    </div>
</div>

<section class='bg-light'>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="https://res.cloudinary.com/binc/image/fetch/w_300,h_175,f_auto/https://images.pexels.com/photos/1282308/pexels-photo-1282308.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">iHEAR</h5>
                        <p class="card-text">industry and Healthcare Executive Administrator Roundtable Sessions</p>
                        <a href="ihear/" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="https://res.cloudinary.com/binc/image/fetch/w_300,h_175,f_auto/https://images.pexels.com/photos/905874/pexels-photo-905874.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Search Tools</h5>
                        <p class="card-text">Quickly look up CPT codes and C-Codes</p>
                        <a href="/tools/cpt" class="btn btn-primary">Use Tools</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="https://res.cloudinary.com/binc/image/fetch/w_300,h_175,f_auto/https://images.pexels.com/photos/42273/doctor-medical-medicine-health-42273.jpeg"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>