<div class="jumbotron">
    <div class="container text-center">
        <h1 class="display-4">iHEAR Sessions</h1>
        <p class="lead"><strong>i</strong>ndustry and <strong>H</strong>ealthcare Executive Administrator Roundtable
            Sessions</p>
    </div>
</div>

<section class="main pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>What Participants Can Expect</h2>
                <p>Join your colleagues for cutting-edge knowledge sharing with established thought leaders and subject
                    matter experts, informed perspectives from research authorities, and best practice presentations
                    from hands-on front-line innovators and implementers of change.</p>
                <p>Together, we will explore the essential strategic and operational imperatives for the healthcare
                    executive administrator audience. We will illuminate the road ahead from an evolving healthcare
                    reform policy perspective, examine the current landscape, and share the experiences of hospitals
                    and health systems actively engaged in overcoming today's challenges.</p>
                <div class="google-maps">
                    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=z4IFsW3hVCjc.k4pEcmdh6uWg" width="600"
                        height="450"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                Form
            </div>
        </div>
    </div>
</section>